.button {
    background: white;
    border: 2px solid  rgb(122, 122, 122);
    margin: 0 8px;
    border-radius: 8px;
    font: inherit;
    font-size: 14px;
}

.button:hover, 
.button:active {
    background: #c9c9c933;
    cursor: pointer;
}