@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

.main {
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 10% 90%;
    background-color: rgb(243,246,248);
}

.main_header {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    margin-top: 8px;
    font-size: 23px;
    font-weight: 400;
    color: rgb(153, 161, 171);
    line-height: 1.5;
}