.mainPage {
  position: relative;
  z-index: 0;
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  grid-template-rows: 9% 91%;
}

.letListVisible {
  height: 100%;
  display: grid;
  grid-template-columns: 100vw 0;
  grid-template-rows: 100%;
  grid-auto-flow: row;
}
.letMapVisible {
  height: 100%;
  display: grid;
  grid-template-columns: 0 100vw;
  grid-template-rows: 100%;
  grid-auto-flow: row;
}

.mainPage_filterOffers {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 100%;
  grid-template-rows: 4% 96%;
}

.list_transition {
  height: 100%;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: max-content max-content auto;
  grid-template-rows: 20px autox;
  font-size: 12px;
  color: rgb(120,120,120);
  font-weight: 400;
}
.list_transition span {
  font-size: 11px;
  color: red;
}
.transitionWhite {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(255,255,255);
  border-radius: 0 0 10px 10px;
  width: 100%;
  padding: 5px 15px 0 15px;
}
.transitionDark {
  text-align: center;
  box-sizing: border-box;
  background-color: rgb(243,246,248);
  border-radius: 10px 10px 0 0 ;
  width: 100%;
  padding: 5px 15px 0 15px;
}
.whiteFiller {
  background-color: rgb(255,255,255);
  width: 100%;
  border-radius: 0 0 0 10px;
}
.darkFiller {
  background-color: rgb(243,246,248);
  grid-column: 1 / 4;
}

.bottomMap {
  position: absolute;
  bottom: 30px;
  justify-self: center;
}

.bottomMap__button {
  z-index: 1;
  display: flex;
  box-sizing: border-box;
  padding: 0 0.3rem;
  background-color: black !important;
  border-radius: 16px !important;
  margin: auto !important;
}

.bottomMap__button:hover,
.bottomMap__button:active {
  border: 2px solid transparent;
}

.bottomMap__button_img {
  height: 1rem;
  margin: auto;
}

.bottomMap__button_p {
  color: white;
  margin: 0.3rem 0.2rem;
}

@media only screen and (min-width: 1024px) {
  .letListVisible {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100%;
    grid-auto-flow: row;
    height: 100%;
  }
  .letMapVisible {
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 100%;
    grid-auto-flow: row;
    height: 100%;
  }
  .bottomMap {
    display: none;
  }
}