.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_saveButton {
  border: 1px rgb(228, 232, 240) solid;
  border-radius: 5px;
  width: 30%;
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
}
