.main {
  width: 80%;
  max-width: 400px;
  height: 90%;
  z-index: 2;
  position: absolute;
  align-self: center;
  text-align: center;
  justify-self: center;
  display: grid;
  grid-template-rows: 95% 5%;
  background-color: rgb(255, 255, 255);
}
.main_button {
  align-self: center;
  justify-self: center;
  color: rgb(95, 101, 107);
  border: 1px solid rgb(228, 232, 240);
  padding: 6px 16px;
  border-radius: 32px;
  margin-top: 15px;
}

@media only screen and (min-width: 768px) {
  .main {
    width: 50%;
    height: 60%;
  }
}
