.main {
    display: flex;
    flex-direction: row;
    border: 1px solid rgb(180,180,180);
    border-radius: 20px;
    padding: 4px 8px;
    transition: background-color 2s ease;
}

.main:hover {
    background-color: rgba(220,220,220,0.5);
    transition: background-color 2s ease;
}

.main input {
    width: 130px;
    border: none;
    padding-right: 5px;
    background-color: transparent;
}
.main input::placeholder {
    opacity: 0.5;
}

.container_img {
    width: 20px;
    height: auto;
    display: flex;
}

.container_img svg {
    align-self: center;
    justify-self: center;
}