.popup_backdrop {
    background: transparent;
    position: absolute;
}

.overallDisp {
    height: 100%;
    display: grid;
    grid-template-rows: 7vh 93vh;
}

.hiddenScroll {
    height: 100%;
    display: grid;
    grid-template-rows: 7vh 93vh;
}

.hideSideMenu {
    right: -100%;
    transition: right 0.5s ease-out;
}
@media only screen and (min-width: 600px) {
    .hideSideMenu {
        right: max(-32%, -320px);
    }
}