.popup_backdrop {
    background: transparent;
    position: absolute;
}

.overallDisp {
    height: 100%;
    display: grid;
    grid-template-rows: 6vh auto;
}

.hiddenScroll {
    height: 100%;
    display: grid;
    grid-template-rows:min-content auto;
    overflow: hidden;
}

.hideSideMenu {
    right: -80%;
    transition: right 0.5s ease-out;
}
@media only screen and (min-width: 512px) {
    .hideSideMenu {
        right: max(-20%, -200px);
    }
}